{% block body%}
<h1>Welcome</h1>
    <p>Sign In Here</p>
<p>
<form method="post" >
    {% csrf_token %}
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" required><br>

     <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required><br>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br>

    <input type="submit">
</form>
{% endblock %}